name: Deploy to server

on: push

jobs: 
    first_job:
        runs-on: ubuntu-latest
        env:
            NAME: CodigoFacilito
        steps:
            - name: Working dir
              run: echo $GITHUB_OUTPUT
            
    second_job:
        if: ${{ github.ref == 'refs/heads/main'}}
        needs: first_job
        runs-on: ubuntu-latest

        steps:
            - name: Hola mundo
              run: echo "Hola mundo 3"